# Bridget Hansen - Getting Population Data

In [6]:
import pandas as pd

In [8]:
# Your Excel filenames
files = [
    "Alabama Population.xlsx", "Arizona Population.xlsx", "Arkansas Population.xlsx",
    "California Population.xlsx", "Colorado Population.xlsx", "Delaware Population.xlsx", "Florida Population.xlsx",
    "Georgia Population.xlsx", "Hawaii Population.xlsx", "Idaho Population.xlsx",
    "Illinois Population.xlsx", "Indiana Population.xlsx", "Iowa Population.xlsx",
    "Kansas Population.xlsx", "Kentucky Population.xlsx", "Louisiana Population.xlsx",
    "Maryland Population.xlsx", "Michigan Population.xlsx",
    "Minnesota Population.xlsx", "Mississippi Population.xlsx", "Missouri Population.xlsx",
    "Montana Population.xlsx", "Nebraska Population.xlsx", "Nevada Population.xlsx",
    "New Jersey Population.xlsx", "New Mexico Population.xlsx",
    "New York Population.xlsx", "North Carolina Population.xlsx", "North Dakota Population.xlsx",
    "Ohio Population.xlsx", "Oklahoma Population.xlsx", "Oregon Population.xlsx",
    "Pennsylvania Population.xlsx", "South Carolina Population.xlsx",
    "South Dakota Population.xlsx", "Tennessee Population.xlsx", "Texas Population.xlsx",
    "Utah Population.xlsx", "Virginia Population.xlsx",
    "Washington Population.xlsx", "West Virginia Population.xlsx", "Wisconsin Population.xlsx",
    "Wyoming Population.xlsx"
]

#Creating an empty list to store data
all_states_data = []

#Getting the stae name
for file in files:
    state_name = file.replace(" Population.xlsx", "")

    # Load the Excel file and get the first sheet name
    df = pd.read_excel(file, skiprows=3)

    # Rename first column to 'county'
    df = df.rename(columns={df.columns[0]: 'county'})

    # Rename the 2016 column 'population'
    year_col = next((col for col in df.columns if col == 2016), df.columns[1])
    df = df.rename(columns={year_col: 'population'})

    # Clean county names
    df['county'] = df['county'].str.lstrip('.')
    df['county'] = df['county'].str.replace(fr'\sCounty, {state_name}$', '', regex=True)

    # Dropping the first row since it is a subtotal
    df = df.drop(index=0).reset_index(drop=True)

    # Extract relevant county and population and add state name
    clean_df = df[['county', 'population']].copy()
    clean_df['state'] = state_name

    #Appending the list with all states data
    all_states_data.append(clean_df)

# Combine all cleaned state population data into a dataframe
population = pd.concat(all_states_data, ignore_index=True)

In [10]:
#Making the state name lowercase
population['state'] = population['state'].str.lower()

In [12]:
#Displaying the dataframe
population

          county  population    state
0        Autauga       55243  alabama
1        Baldwin      207601  alabama
2        Barbour       25806  alabama
3           Bibb       22586  alabama
4         Blount       57494  alabama
...          ...         ...      ...
3040  Sweetwater       44222  wyoming
3041       Teton       23234  wyoming
3042       Uinta       20682  wyoming
3043    Washakie        8165  wyoming
3044      Weston        7220  wyoming

[3045 rows x 3 columns]

In [14]:
#Identifying the unique states
population['state'].unique()

array(['alabama', 'arizona', 'arkansas', 'california', 'colorado',
       'delaware', 'florida', 'georgia', 'hawaii', 'idaho', 'illinois',
       'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana', 'maryland',
       'michigan', 'minnesota', 'mississippi', 'missouri', 'montana',
       'nebraska', 'nevada', 'new jersey', 'new mexico', 'new york',
       'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon',
       'pennsylvania', 'south carolina', 'south dakota', 'tennessee',
       'texas', 'utah', 'virginia', 'washington', 'west virginia',
       'wisconsin', 'wyoming'], dtype=object)

In [16]:
#Saving the dataframe to a csv file
population.to_csv('population data.csv')